{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}

<div>
    <table class="table table-hover table-sm table-striped">
        <thead>
            {% for key in details[0] %}
                <td>{{ key }}</td>
            {% endfor %}
        </thead>
        <tbody>
            {% for result in details %}
                <tr>
                    {% for key, value in result.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <a href="/">&lt;&lt;&lt; Home >>></a>
    <a href="/overview">&lt;&lt;&lt; Summary >>></a>
</div>

{% endblock %}