{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <div>
        The Phreeqc database comparsion tool contains {{ total_SMS }} ({{ total_distinct_SMS }} distinct) master species, {{ total_SS }} ({{ total_distinct_SS }} distinct) solution species,
        and {{ total_PH }} ({{ total_distinct_PH }} distinct) phases.
    </div>

    <div>
        -------------------------------------------------------------------------------------------------------
    </div>

    <div>
        <h3>Upload file(s):</h3>
            <form action="/" method="post" enctype="multipart/form-data">
              <!--  <div class="form-group"> -->
                <!-- <input name="load" type="hidden" value="load"> -->

                <input type="file" name ="file" multiple accept=".dat">
                <input type="submit" name="load">
                <!--<button>Load databases</button>-->

            </form>
    </div>

{% endblock %}