{% extends "layout.html" %}



{% block main %}

    <h1>Select type of data to search</h1>

    <form action="/search" method="post">
        <div>
            <select id="type" name="type" onchange="searchtype()">
                <option disabled selected value=""></option>
                <option value="solution_master_species">Solution master species</option>
                <option value="solution_species">Solution species</option>
                <option value="phases">Phases</option>
            </select>

        </div>


        <div hidden id="SMS_search">
            <h3>Solution master species search options</h3>
                <input autocomplete="off" name="element" placeholder="Element" type="text">
                <input autocomplete="off" name="species" placeholder="Species" type="text">
                <select name="primary">
                    <option value="all">All</option>
                    <option value="primary">Primary master species</option>
                    <option value="secondary">Secondary master species</option>
                </select>
                <input type="submit" value="Search">
                <input type="reset" name="reset" value="Reset">
        </div>
        <div hidden id="SS_search">
            <h3>Solution species search options</h3>
                <!-- <input autocomplete="off" placeholder="Equation" type="text">
                <input autocomplete="off" placeholder="Reactants" type="text">
                <input autocomplete="off" placeholder="Other products" type="text"> -->
                <input autocomplete="off" name="defined_species" placeholder="Defined species" type="text">
                <input type="submit" value="Search">
                <input type="reset" name="reset" value="Reset">

            <!-- <h6>Display:</h6>
            <input type="Checkbox" name="SS_display" value="equation"> Equation
            <input type="Checkbox" name="SS_display" value="master_species"> Master species?
            <input type="Checkbox" name="SS_display" value="log_k"> Log <i>K</i>
            <input type="Checkbox" name="SS_display" value="delta_h"> Δ<i>H</i>
            <input type="Checkbox" name="SS_display" value="analytic"> Analytical expression -->

        </div>
        <div hidden id="PH_search">
            <h3>Phases search options</h3>
                <input autocomplete="off" name="name" placeholder="Name" type="text">
                <input autocomplete="off" name="formula" placeholder="Formula" type="text">
                <!-- <input autocomplete="off" placeholder="Equation" type="text"> -->
                <input type="submit" value="Search">
                <input type="reset" name="reset" value="Reset">

            <!-- <h6>Display:</h6>
            <input type="Checkbox" name="SS_display" value="equation"> Equation
            <input type="Checkbox" name="SS_display" value="log_k"> Log <i>K</i>
            <input type="Checkbox" name="SS_display" value="delta_h"> Δ<i>H</i>
            <input type="Checkbox" name="SS_display" value="analytic"> Analytical expression -->

        </div>

    </form>


{% endblock %}